.portfolio__header {
  @include FLEX(100%, column);
  justify-content: center;
  align-items: center;
  position: relative;
  height: rem(75vh);
  min-height: rem(732px);
}

.header__logo {
  @include BG_IMAGE('logo.png');
  width: rem(220px);
  height: rem(220px);
  margin-top: rem(100px);
  border-radius: 100%;
  background-repeat: no-repeat;
  z-index: 100;

  &--small {
    width: rem(30px);
    height: rem(30px);
    margin: rem(0 50px 0 0);
  }

  &--navbar {
    width: rem(60px);
    height: rem(60px);
    margin: 0;
    transform: translate(rem(-40px));
    animation: logoFadeIn;
    animation-duration: 0.8s;
  }
}

.header__content {
  border-radius: 100%;
  margin-top: rem(50px);
  text-align: center;
  z-index: 100;
}

.header__slogan {
  padding: 0;
  margin: rem(3px 0);
  letter-spacing: rem(7px);
  font-weight: normal;
  color: $secondary-color;
}

.portfolio__container {
  @include FLEX(100%, row);
  justify-content: center;
  flex-wrap: wrap;
  padding: rem(50px 80px);
}

.portfolio__filter {
  @include FLEX(100%, row);
  align-items: center;
  justify-content: center;
  height: rem(50px);
  margin-bottom: rem(110px);
}

.filter__method {
  margin-right: rem(20px);
  font-size: rem(16px);
  padding-right: rem(10px);
  border-right: 1px solid $grey;
  color: $secondary-color;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s;

  &:hover {
    color: $logo-color;
  }

  &:last-of-type {
    border: 0;
  }
}

.filter--active {
  color: $logo-color;
}

.portfolio__item {
  @include FLEX(500px, row);
  justify-content: center;
  align-items: center;
  height: rem(400px);
  margin-bottom: rem(15px);
  background-position: center;
  background-size: cover;
  border-radius: rem(2px);
  cursor: pointer;

  &--inactive {
    filter: grayscale(0%);
  }
}

.video-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: rem(7px);
  background-color: $white-color;
}

.video-title {
  padding: rem(0 10px);
  text-transform: uppercase;
  font-size: $super-large-font;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: center;
}

.video-category {
  font-size: $medium-font;
  letter-spacing: 1px;
  font-weight: 300;
  color: $logo-color;
}

.gutter-size {
  position: absolute;
  width: rem(30px);
  visibility: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
